@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

$fontMain: 'Roboto Mono',
monospace;
$fontSizeSmall: 0.8em;
$fontSizeMedium: 1em;
$fontSizeBig: 2em;

$fontBold: 400;
$fontThin: 300;

//Colores
$bg-black: black;
$bg-white: white;
$bg-logo: #4E5A62;